<app-header></app-header>
<body>
    <div class="content">
      <div class="container">
        <div class="row" id="table">
            <div class="col">
            <br>
            <div class="col-md-8 offset-md-2">
                <h2>Chi tiết sản phẩm</h2>
                <!-- <form (ngSubmit)="saveproduct()"> -->
                <form >
                  <div class="form-group" >
                    <label for="name">Tên sản phẩm</label>
                    <input readonly type="text" class="form-control" id="name" [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group" >
                    <label for="name">Hình ảnh</label><br>
                    <img src="{{'http://localhost:8080/api/v1/product/images/'+product.id}}" height="200" width="200">
                  </div>
                  <div class="form-group">
                      <label for="username">Giá bán</label>
                      <input readonly type="text" class="form-control" id="username" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}">
                    </div>
                  <div class="form-group">
                    <label for="password">Giá khuyến mãi</label>
                    <input readonly type="text" class="form-control" id="password" [(ngModel)]="product.promotion" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label for="password">Mô tả sản phẩm</label>
                    <input readonly type="textarea" class="form-control" id="password" [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label for="role">Danh mục sản phẩm</label><br>
                    <input readonly type="textarea" class="form-control" id="password" [(ngModel)]="product.category.name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <button class="btn btn-info mr-2" (click)="goToProductList()">Quay lại</button>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
<app-footer></app-footer></body>