<app-header></app-header>
<body>
    <div class="content">
      <div class="container">
        <div class="row" id="table">
            <div class="col">
            <br>
            <h2>Danh mục sản phẩm</h2>
            <button mat-raised-button mat-button (click)="openDialog()">Thêm mới</button>
            <br>
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
            <table class="table table-stried">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Danh mục</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>
                            <!-- <button class="btn btn-info mr-2" [routerLink]="['admin-form', admin.id]">update</button>
                            <button class="btn btn-danger" (click)="deleteAdmin(admin.id)">delete</button> -->
                            <button class="btn btn-warning mr-2" >details</button>
                            <button class="btn btn-info mr-2">update</button>
                            <button class="btn btn-danger" >delete</button> 
                        
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-sm-3"></div>
<!-- 
<button mat-raised-button mat-button (click)="openDialog()">Open dialog</button> -->
</div>
</div>
</div>
</div>
<app-footer></app-footer></body>