
            <h2>Danh sách khách hàng</h2>
            <mat-divider></mat-divider>
            <br>
            <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2"  placeholder="Tìm kiếm" name="name" [(ngModel)]="searchText">
                </form>
            <!-- <form class="example-form" >    
                <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>Nhập họ tên</mat-label>
                <input matInput name="name" [(ngModel)]="searchText">
                </mat-form-field>
            </form>-->
            </div> 
            </div>
            <br>
            <table class="table table-stried" *ngIf="!checkSearch">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let customer of customers | filter: searchText">
                        <td>{{customer.id}}</td>
                        <td>{{customer.fullName}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.address}}</td>
                        <td>
                            <button class="btn btn-warning mr-2" (click)="detailsCustomer(customer.id)" style="color: #FFF;"><i class="fas fa-info-circle"></i></button>
                            <!-- <button class="btn btn-danger" (click)="deleteAdmin(admin.id)">delete</button>  -->
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]= "totalElements" (page)="nextPage($event)"
                        [pageSizeOptions]="[5, 10, 25]" aria-label="Select page">
            </mat-paginator>


