<header>
  <img src="../../../assets/images/2 0 0 1.png" alt="" class="logo">
  <div class="navbar">
    <ul class="nav_links">
      <li><a href="">Trang chủ</a></li>
      <li><a >Tin tức</a></li>
      <li><a routerLink="product" >Sản phẩm</a></li>
      <div class="dropdown">
        <li><a href="">Danh mục</a>
            <ul class="dropdown-content" *ngFor="let cate of categoryList">
              <a (click)="getProductsByCategory(cate)">{{ cate.name }}</a>
            </ul>
        </li>
      </div>
    </ul>
  </div>
  <ul class="nav_icon" *ngIf="isLogin">
    <li><p>xin chào <span class="fullname">{{ wellcomeName }}</span></p></li>
    <!-- <li><button (click)="logout()">Logout</button></li> -->
    <li>
      <a (click)="logout()"><i class="fas fa-sign-out-alt fa-xl"></i></a>
    </li>
    <li>
      <a routerLink="cart" title="Giỏ hàng" [matBadge]="leCart" matBadgeColor="warn" [matBadgeHidden]="leCart==0">
        <i class="fa-solid fa-cart-shopping fa-xl"></i>
      </a>
    </li>
    <li>
      <a routerLink="cart" title="Yêu thích">
        <i class="fa-solid fa-heart fa-beat fa-xl"></i>
      </a>
    </li>
  </ul>

  <ul class="nav_icon" *ngIf="!isLogin">
    <li>
      <a routerLink="customer-login">
        <i class="fa-solid fa-user fa-xl"></i>
      </a>
    </li>
    <li>
      <a routerLink="cart"  title="Giỏ hàng">
        <i class="fa-solid fa-cart-shopping fa-xl"></i>
      </a>
    </li>
    <li>
      <a routerLink="cart" title="Yêu thích">
        <i class="fa-solid fa-heart fa-beat fa-xl"></i>
      </a>
    </li>
  </ul>
</header>