<!-- <app-header></app-header>
<body>
    <div class="content">
      <div class="container">
        <div class="row" id="table">
            <div class="col">
            <br>
<router-outlet></router-outlet>
        </div>
    </div>
    </div>
    </div>
<app-footer></app-footer></body> -->
<div class="row">
  <div class="col-md-3">
    <div class="count">
      <button class="product"><i class="fas fa-tshirt"></i></button>
      <span>Số lượng sản phẩm: {{this.totalProduct}}</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="count">
      <button class="customer"><i class="fas fa-user-circle"></i></button>
      <span>Số lượng khách hàng: {{this.totalCustomer}}</span>
    </div>
  </div> 
  <div class="col-md-3">
    <div class="count">
      <button class="admin"><i class="fas fa-user-shield"></i></button>
      <span>Quản trị viên: {{this.totalAdmin}}</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="count">
      <button class="order"><i class="fas fa-shopping-cart"></i></button>
      <span>Đơn hàng: 10</span>
    </div>
  </div>
</div>

