  <div class="sidebar active">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxs-hot'></i>
            <div class="logo_name">2 0 0 1</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a routerLink="../admin">
                <i class='bx bxs-dashboard'></i>
                <span class="links_name">DashBoard</span>
            </a>
            <span class="tooltip">DashBoard</span>
        </li>
        <li>
            <a routerLink="../admin/list">
                <i class='bx bxs-dashboard'></i>
                <span class="links_name">Admin</span>
            </a>
            <span class="tooltip">Admin</span>
        </li>
        <li>
            <a routerLink="../admin/product">
                <i class='bx bx-table'></i>
                <span class="links_name">Sản Phẩm</span>
            </a>
            <span class="tooltip">Sản Phẩm</span>
        </li>
        <li>
            <a routerLink="../admin/category-list">
                <i class='bx bx-table'></i>
                <span class="links_name">Danh Mục</span>
            </a>
            <span class="tooltip">Danh Mục</span>
        </li>
        <li>
            <a routerLink="../admin/customer">
                <i class='bx bx-user'></i>
                <span class="links_name">Khách Hàng</span>
            </a>
            <span class="tooltip">Khách Hàng</span>
        </li>
        <li>
            <a href="javascript:void(0)" (click)="logout()">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Đăng xuất</span>
            </a>
            <span class="tooltip">Đăng xuất</span>
        </li>
    </ul>
</div>