<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Liên hệ
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  176 Trần Phú, Phước Vĩnh, Tp Huế
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +84 686868 9999
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  blackpearl.2001@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              2 0 0 1
            </a>
            <p>
                Chào mừng đến với 2 0 0 1! Hãy để chúng tôi có cơ hội được phục vụ bạn một cách chân thành và tận tâm hết sức có thể. 
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Thời gian mở cửa
          </h4>
          <p>
            Các ngày trong tuần
          </p>
          <p>
            8h00 - 10h00
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          <!-- &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br><br> -->
          &copy; <span id="displayYear"></span> Thiết kế bởi
          <a href="" target="_blank">Nguyễn Võ Tiến Dũng</a>
        </p>
      </div>
    </div>
  </footer>